<nav>
  <a class="btn btn-small btn-success disabled" href="#add/"><i class="glyphicon glyphicon-plus"></i>add book</a>
  <a class="btn btn-small btn-success" href="#/"><i class="glyphicon glyphicon-list"></i>my books</a>
</nav>

<section id="book-form">
<form id="book" class="form-horizontal">
  <div class="form-group">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" value="{{book.id}}" disabled>
  </div>

  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{book.title}}">
  </div>

  <div class="form-group">
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" value="{{book.author}}">
  </div>

  <div class="form-group">
    <label for="rate">Rate:</label>
    <select id="rate" name="rate">
      <option value="1" {{#if selected1 }}selected{{/if}}>Very Bad</option>
      <option value="2" {{#if selected2 }}selected{{/if}}>Bad</option>
      <option value="3" {{#if selected3 }}selected{{/if}}>Regular</option>
      <option value="4" {{#if selected4 }}selected{{/if}}>Good</option>
      <option value="5" {{#if selected5 }}selected{{/if}}>Very Good</option>
    </select>
  </div>

  <div class="form-group">
    <label for="readStart">Read Start:</label>
    <input type="text" id="readStart" name="readStart" value="{{book.readStart}}">
  </div>

  <div class="form-group">
    <label for="readEnd">Read End:</label>
    <input type="text" id="readEnd" name="readEnd" value="{{book.readEnd}}">
  </div>

  <div class="form-group">
    <label for="readProgress">Progress:</label>
    <input type="text" id="readProgress" name="readProgress" value="{{book.readProgress}}">
  </div>

  {{#if book.id}}
  <button type="button" name="delete" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
  {{/if}}
  <button name="cancel" type="button" class="btn btn-info"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
  <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>Save</button>
</form>
<textarea name="results" class="disabled"></textarea>

  </section>
