<form id="editBook">
  <label for="id">Id:</label>
  <input type="text" id="id" name="id" value="{{book.id}}" disabled>
  <br/>
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" value="{{book.title}}">
  <br/>
  <label for="author">Author:</label>
  <input type="text" id="author" name="author" value="{{book.author}}">
  <br/>
  <label for="rate">Rate:</label>
  <select id="rate" name="rate">
    <option value="1" {{#if selected1 }}selected{{/if}}>Very Bad</option>
    <option value="2" {{#if selected2 }}selected{{/if}}>Bad</option>
    <option value="3" {{#if selected3 }}selected{{/if}}>Regular</option>
    <option value="4" {{#if selected4 }}selected{{/if}}>Good</option>
    <option value="5" {{#if selected5 }}selected{{/if}}>Very Good</option>
  </select>
  <br/>
  <label for="readStart">Read Start:</label>
  <input type="text" id="readStart" name="readStart" value="{{book.readStart}}">
  <br/>
  <label for="readEnd">Read End:</label>
  <input type="text" id="readEnd" name="readEnd" value="{{book.readEnd}}">
  <br/>
  <label for="readProgress">Progress:</label>
  <input type="text" id="readProgress" name="readProgress" value="{{book.readProgress}}">
  <br/>

  <input type="submit" value="Go!">
</form>
<textarea name="results" class="disabled"></textarea>
