<nav>
  <a href="#add/">add</a>
  <a href="#/">list</a>
</nav>

<section id="book-form">

  <table class="results">
    <thead>
        <tr>
          <th>Edit</th>
          <th>Id</th>
          <th>Title</th>
          <th>Author</th>
          <th>Rate</th>
          <th>Read Start</th>
          <th>Read End</th>
          <th>Progress</th>
        </tr>
    </thead>
    <tbody>
      {{#each books}}
      <tr>
          <td><a href="#edit/{{this.attributes.id}}">edit</a></td>
          <td>{{this.attributes.id}}</td>
          <td>{{this.attributes.title}}</td>
          <td>{{this.attributes.author}}</td>
          <td>{{this.attributes.rate}}</td>
          <td>{{this.attributes.readStart}}</td>
          <td>{{this.attributes.readEnd}}</td>
          <td>{{this.attributes.readProgress}}</td>
      </tr>
      {{else}}
      <tr>
          <td>No books registered. Go and <a href="#add/">add</a> one</td>
      </tr>
      {{/each}}

    </tbody>
  </table>

</section>
